{% extends "VentaBundle:Base:layout_base.html.twig" %}
{% block listado %}
<h1>Listado de productos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.description }}</td>
        <td>{{ producto.price }}</td>
        <td><a href="index.php?page=products&action=add&id=<?php echo $row['product_id'] ?>">Add to cart</a></td>
    </tr>
    {% endfor %}
</table>
<hr />
                <!-- link de redireccion al carrito -->
                <a href="index.php?page=cart">Go to cart</a>

{% endblock  %}