{# {% block listado %}
<h1>Listado de productos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.description }}</td>
        <td>{{ producto.price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %} #}

{# Layout donde se presentan en una tabla un listado de los productos extraidos de la bd #}